.table {
    border-collapse: collapse;
    width: 100%;
}

.table th {
    font-size: 20px;
}

.table th, .table td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 20px 0;
    color: #232323;
}

.button {
    display: inline-block;
    padding: 5px 15px;
    cursor: pointer;
    outline: 0;
    border-radius: 5px;
}

.button:hover {
    background: #FFA652;
}