.header {
    background: #FFA652;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    margin-bottom: 20px;

    &__logo {
        margin: 0;
    }

    &__menu {
        display: flex;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            margin: 0 12px;
        }

        a {
            font-weight: 700;
            text-decoration: none;
            color: #232323;

            &.active {
                color: #fff;
            }
        }
    }
}

.footer {
    margin-top: 20px;
    background: #232323;
    padding: 12px 0;
    color: #FFF;
    text-align: center;
}